
  body{
    background:var(--background);
    color:var(--text);

    overflow-x:hidden;

    padding-top:120px;
}

#root {
  min-height: 100vh;
}

h1 {
  text-align: center;
}
body{
    padding-top:130px;
}